.watermark {
  display: grid;
  position: relative;
}

.watermark img {
  grid-area: 1 / 1;
}

.watermark::after {
  grid-area: 1 / 1;
  content: "仅供参考，勿作他用";
  color: #0000ff;
  font-size: 50px;
  text-align: center;
  align-self: center;
  opacity: 0.3;
  transform: rotate(-45deg);
  pointer-events: none;
} 