summary.menu_active {
  background-color: var(--menu-active-bg);
  color: var(--menu-active-fg);
  background-size: auto, calc(var(--noise) * 100%);
  background-image: none, var(--fx-noise);
  outline-style: none;
  box-shadow: 0 2px calc(var(--depth) * 3px) -2px var(--menu-active-bg);
}
